body {
    margin: 0;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Arial;
    line-height: 1.5;
}

body h2 {
    text-decoration: underline;
    text-decoration-color: grey;
}

.title {
    font-size: 30px;
    color: red;
}

.cores-green-color {
    color: limegreen;
}

.cores-grey-color {
    color: grey;
}

.cores-orange-color {
    color: orangered;
}

.cores-red-color {
    color: red;
}

.cores-blue-color {
    color: blue;
}

.wiki-content-table {
    width: 100%;
    background:white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.wiki-content-table th {
  background: #ccc;
  border: 1px solid #000;
}
.wiki-content-table td {
  padding: 4px;
  border: 1px solid #000;
  border-collapse: collapse;
}

.wiki-building-cores-content-table {
    width: 100%;
    background:white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.wiki-building-cores-content-table th {
  background: #ccc;
  border: 1px solid #000;
  font-size: 25px;
}
.wiki-building-cores-content-table td {
  padding: 4px;
  border: 1px solid #000;
  border-collapse: collapse;
  font-size: 20px;
}
.wiki-content-table a {
    color: red;
}

.wiki-universal_bot-cores-content-table th {
    background: #ccc;
    border: 1px solid #000;
}

.wiki-universal_bot-cores-content-table{
    width: 1000px;
    background:white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.wiki-universal_bot-cores-content-table td{
    padding: 4px;
    border: 1px solid #000;
    border-collapse: collapse;
}

.wiki-class_specific-cores-content-table{
    width: 800px;
    background:white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

.wiki-class_specific-cores-content-table th {
    background: #ccc;
    border: 1px solid #000;
}

.wiki-class_specific-cores-content-table td{
    padding: 4px;
    border: 1px solid #000;
    border-collapse: collapse;
}

.sides_of_main_table
{
    table-layout: auto;
    width: 300px;
}

.sides_of_combat-mods_table
{
    table-layout: fixed;
    width: 100px;
}

.sides_of_universal_bot-cores_table
{
    table-layout: auto;
    width: 200px;
}

.sides_of_class_specific-cores_table{
    table-layout: auto;
    width: 200px;
}

.prime-cores{
    width: 100px;
    height: 100px;
}

.builds-power-cores {
    width: 140.6px;
    height: 160px;
}

.combat-bots{
    width: 1600px;
    height: 686px;
}

.combat-mods{
    width: 160px;
    height: 160px;
}

.logo_of_game {
    width: 220px;
    height: 80px;
}

.micro-logos-fractions{
    width: 50px;
    height: 50px;
}

.currencies_main_site {
    width: 20px;
    height: 20px;
}

.currencies {
    width: 100px;
    height: 100px;
}

.builds {
    width: 200px;
    height: 200px;
}

.social-card {
    width: 30px;
    margin: 5px;
    color: white;
}

#rectangle {
    width: 100%;
    height: 80px;
    background: black;
}

#rectangle2 {
    width: 100%;
    height: 300px;
    background: black;
}

.footer-wrap{
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

.download-now {
    width: 125px;
    margin: 10px;
    color: white;
}

.spaceape-logo{
    width: 300px;
    color: white;
}

.game_basics_nav li{
    list-style-type: decimal;
}

.container {
    display: grid;
}

#one {
    grid-area: header;
}

#two {
    grid-area: bot-bio;
}

#three {
    grid-area: bot-table;
}

#four {
    grid-area: con-bio;
}

#five {
    grid-area: con-table;
}

#six {
    grid-area: ability;
}

#seven {
    grid-area: statistic;
}

#eight {
    grid-area: footer;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns:  1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 'header'
                            'bot-bio'
                            'bot-table'
                            'con-bio'
                            'con-table'
                            'ability'
                            'statistic'
                            'footer';
    }
}

@media (min-width: 601px) {
    .container {
        grid-template-columns:  3fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'header header'
                            'bot-bio bot-table'
                            'con-bio con-table'
                            'ability ability'
                            'statistic statistic'
                            'footer footer';
    }
}

.hide {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.7s;
  padding: 40px 100px;
  z-index: 999;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  margin-top: 50px;
}
.gallery__search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid salmon;
}

.gallery-section__title {
  color: #ea1538;
  font-size: 3rem;
  margin: 50px 0;
}

.gallery-section__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
}

.card {
  position: relative;
  padding-bottom: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 0 0 10px 10px;
  line-height: 1.6;
}

.card-img {
  overflow: hidden;
  margin-bottom: 20px;
}

.card-img:hover img {
  transform: scale(1.5);
}

.film-img {
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  color: #ff6348;
  margin: 0 0 10px 10px;
}

.add-cart {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: red;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover {
  background-color: #ea6e15;
}

.cart {
  position: fixed;
  top: 0;
  right: -200%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 1000;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.cart-film-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff6348;
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

.box {
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.cart-count {
  position: absolute;
  background-color: #4a5467;
  top: -10px;
  right: -10px;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ea1538;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: none;
  position: fixed;
  top: 0;
  z-index: 1001;
}

input[type=text],
input[type=tel] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}